<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>New garden</title>

</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container" id="layoutSidenav_content">
    <h2>Sủa thông tin loại thiết bị 🌳</h2>
    <div>
        <form class="form-horizontal" th:object="${deviceType}" th:action="@{/device-type}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tên loài cây:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>