<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Danh sách các giống cây</title>

    <!--<link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <div layout:fragment="content" th:remove="tag" class="container" id="layoutSidenav_content">
        <div th:if="${not #lists.isEmpty(gardens)}">
            <h2 class="text-center mt-4  mb-4">Danh sách các khu vườn</h2>
            <div class="row">
                <div th:each="garden : ${gardens}" class="col-sm-6 mb-4">
                    <div class="card">
                        <div class="card-body text-center" style="background-color:#3ae374;">
                            <h5 th:text="${garden.name}" class="card-title"></h5>
                            <p th:text="${garden.plant.name}" class="card-text"></p>
                            <a th:href="${'/garden/detail/' + garden.id}" class="btn btn-info">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>