<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="all"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>



    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/layout.css" th:href="@{/css/layout.css}" />

    <script type="text/javascript" th:src="@{/js/layout.js}"></script>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
</head>
<body>
    <th:block th:replace="fragments/header :: header"/>
    <div class="container" style="80px">
        <th:block layout:fragment="content"/>

    </div>
    <!--<th:block th:replace="fragments/footer :: footer"/>-->
</body>
</html>